.list {
  display: flex;
  justify-content: center;
}
.stats {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  min-width: 144px;

  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(173, 173, 173);
}
