.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;

  background-color: white;
}

.avatar {
  width: 160px;
  border-radius: 50%;
}

.name {
  padding: 5px;
  font-size: 24px;
  font-weight: 700;
}

.tag,
.location {
  composes: name;
  color: grey;
  font-size: 20px;
  font-weight: normal;
}
