.transaction_history {
  width: 630px;
  margin-top: 20px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 2px 10px 2px #ccc;
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
}

.transaction_history th {
  padding-top: 18px;
  padding-bottom: 18px;
  color: white;
  background-color: #07cce6;
  border-left: 1px solid rgb(250, 250, 250, 0.5);
  text-transform: uppercase;
}

.transaction_history tr:nth-child(2n) {
  background-color: rgb(226, 226, 226);
}

.transaction_history td {
  padding-top: 15px;
  padding-bottom: 15px;
  color: gray;
  border-left: 1px solid rgba(128, 128, 128, 0.15);
}
